#about-us-header {
  text-align: center;
  max-width: 1024px;
  margin: 1em auto 1em;
  border-bottom: 2px solid black;
  padding-bottom: 0.5em;
}

.about-us {
  text-align: center;
  max-width: 1024px;
  margin: 2em auto 2em;
}

#bandpicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.diskografi {
  text-align: center;
  margin: 1em auto 5em;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  width: fit-content;
  max-width: 1024px;
}

.diskografi p {
  margin-bottom: 1em;
}

#paragraph1,
#paragraph2,
#paragraph3 {
  text-align: left;
  margin: 1em auto 1em;
  text-transform: none;
}

#header-2021,
#header-2020,
#header-2019 {
  margin: 1em auto 1em;
}

@media screen and (max-width: 1100px) {
  .about-us,
  .diskografi {
    margin: 3em 2em 2em;
  }
  #bandpicture {
    width: 768px;
    height: 346px;
  }
}
@media screen and (max-width: 700px) {
  #about-us-header,
  .about-us,
  .diskografi {
    margin: 2em 2em 2em;
  }
  #bandpicture {
    width: 384px;
    height: 173px;
  }
}
