.index-banner {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: url("../images/Forside-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: 2px solid black;
}

.band-name-header {
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 60px;
}

#banner {
  font-size: 60px;
  color: #eeeeee;
  animation: animate 1s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
}

/* Anitmation gotten from https://www.youtube.com/watch?v=YwZgTjDnHoQ */
@keyframes animate {
  0% {
    top: 30%;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100%{
    opacity: 1;
    top: 25%;
  }
}

@media (max-width: 900px) {
  .index-banner {
    height: 70vh;
  }
  #banner {
    transform: translateY(-70%);
  }
}

@media (max-width: 650px) {
  .index-banner {
    margin-top: 5em;
    height: 50vh;
  }
  #banner {
    margin-top: 5em;
    transform: translateY(-170%);
  }
}

@media (max-width: 540px), (max-height: 390px) {
  .index-banner {
    margin-top: 5em;
    height: 50vh;
  }
  #banner {
    display: none;
  }
}

#spotify-player {
  width: 100%;
}

.content-grid-wrapper {
  max-width: 1280px;
  margin: auto;
}

.content-grid {
  padding: calc(var(--spacing-large) * 3) 0;
  display: grid;
  grid-gap: calc(var(--spacing-large) * 3);
  grid-template-columns: repeat(2, 1fr);
}

#content-grid-slideshow {
  grid-column: span 2;
}

@media (max-width: 1440px) {
  .content-grid-wrapper {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .content-grid-wrapper {
    max-width: 480px;
  }
  .content-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #content-grid-slideshow {
    grid-column: span 1;
  }
}

@media (max-width: 480px) {
  .content-grid-wrapper {
    max-width: 340px;
  }
}
