.member-search-form {
  width: 100%;
  padding: calc(var(--spacing-large) * 4) 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: var(--spacing-large)
}

.member-search-form > label {
  width: 50%;
}

.member-search-form > label > input, select {
  width: 100%;
  padding: var(--spacing-large);
}

.member-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: calc(var(--spacing-large) * 2);
  column-gap: var(--spacing-large);
}

.member-list > div > img {
  width: 100%;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .member-list {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 768px) {
  .member-list {
    grid-template-columns: 100%;
  }
}

@media (max-width: 500px) {
  main h1 {
    margin-top: 2em;
  }
}
